.pageContainer {
  width: 90vw;
  height: 90vh;
  margin: 0;
  bottom: 10px;
  /* background-image: linear-gradient(
      to bottom right,
      #5c3aa9,
      #502f9b,
      #43228c,
      #230a5c,
      #1f0854
    ); */
  border-radius: 33px;
  /* display: flex;
    justify-content: center; */
  margin-bottom: 50px;
}

.pageBG {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar {
  display: flex;
  justify-content: center;
}

.searchBar input {
  background-color: white;
  border: 0;
  border-radius: 20px;
  /* border-top-right-radius: 0px; */
  font-size: 18px;
  padding: 15px 10px;
  height: 30px;
  width: 450px;
  /* margin: 20px 0px; */
  display: flex;
  justify-content: flex-start;
}

.searchIcon {
  /* background-color: white; */
  height: 60px;
  width: 50px;
  display: grid;
  place-items: center;
  color: white;
  /* margin: 20px 0px; */
}
input:focus {
  outline: none;
}
.searchResult {
  border: 1px solid white;
  border-radius: 12px;
  height: 80px;
  padding: 10px;
  background-color: transparent;
}

.dataResult :hover {
  /* box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.993); */
  transition: 0.2s ease-in-out;
  transform: scale(1.02);
  /* background-color:rgba(255, 255, 255, 0.1) ; */
}
.disabled_hover {
  transform: none;
  box-shadow: none;
}

.modal,
.overlay {
  background-color: rgba(0, 0, 0, 0.364);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.modal1,
.overlay {
  background-color: rgba(0, 0, 0, 0.364);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

/* .overlay {
    
    display: flex;
    align-items: center;
    justify-content: center;
  } */

.modalContent {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  display: none;
}
