#cards-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.card {
  width: 400px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: all ease 0.2s;
  margin: 20px;
}
.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255);
  opacity: 0;
  transition-duration: 1s;
  border-radius: 10px;
}
#card1 {
  background-image: url(https://dtnext-prod.s3.ap-south-1.amazonaws.com/imported/import/Articles/2019/Aug/201908170350382323_Over-25-lakh-pages-of-Tamil-manuscripts-digitised-in-a-year_SECVPF.gif);
}
#card2 {
  background-image: url(https://as1.ftcdn.net/v2/jpg/02/27/74/04/1000_F_227740414_3F3W9USF17vrOIczPVawqpk4PxPhTzBM.jpg);
}

#card3 {
  background-image: url(https://i.ndtvimg.com/i/2016-04/golden-temple_650x400_51459941714.jpg);
}
#card4 {
  background-image: url(https://miro.medium.com/v2/resize:fit:1358/0*2Yn259uU5cO44wl6);
}

.overlay h4 {
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 20px;
  font-weight: 800;
  text-align: center;
}
.overlay p {
  color: #000;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
.card:hover .overlay {
  opacity: 1;
}
.card:hover {
  /* transform: rotate3d(0, 1, 1, 360deg); */
  transform: rotate(180deg);
}

.overlay_inner {
  transform: rotateY(180deg);
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 250px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: all ease 0.2s;
  margin: 20px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  /* background-color: #bbb; */
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(19, 7, 46);
  /* color: white; */
  opacity: 0.7;
  transform: rotateY(180deg);
}
