.pageContainer {
  width: 90vw;
  height: 90vh;
  margin-top: 100px;
  bottom: 10px;
  background-image: linear-gradient(
    to bottom right,
    #150638,
    #1f0854,
    #2f1763,
    #38216d,
    #502f9b
  );
  border-radius: 33px;

  /* display: flex;
  justify-content: center; */
  margin-bottom: 50px;
  box-shadow: #1f0854 10px;
  border-style: solid;
}

.pageBG {
  display: flex;
  align-items: center;
  justify-content: center;
}
