.pageContainer {
  width: 90vw;
  height: 90vh;
  margin: 0;
  bottom: 10px;
  background-image: linear-gradient(
    to bottom right,
    #150638,
    #1f0854,
    #2f1763,
    #38216d,
    #502f9b
  );
  border-radius: 33px;
  /* display: flex;
  justify-content: center; */
  margin-bottom: 50px;
}

.pageBG {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin-top: 10px;
  font-size: 36px;
  font-weight: 600;
  font-family: "Gill Sans", sans-serif;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  gap: 20px;
}

.subTitle {
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
  margin-top: 20px;
}

.content {
  font-size: 18px;
}

.sideSection {
  width: 25%;
  padding-left: 10px;
  margin-top: 50px;
}

.sideSection:first-child {
  padding-left: 50px;
}

.midSection {
  width: 40%;
}

.midImage {
  width: 100%;
}

.image {
  width: auto;
  height: 225px;
  margin-left: 50px;
}
