.logo {
  display: flex;
  align-items: center;
}

.navbuttons {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-left: 30vw;
  font-weight: 400;
  font-size: 22px;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}
.navbar {
  display: flex;
  color: white;
  width: 100vw;
  background-color: rgb(19, 7, 46);
  height: 100px;
  margin-bottom: 20px;
}

.logo {
  height: 100px;
}

/* a:-webkit-any-link:hover {
  border-bottom: 2px white solid;
} */
